<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FlabberGast</title>
    <meta name="description" content="It's like flabbering a ghast!">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/normalize.min.css">
    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
  <body>
    <div class="header-container">
      <header class="wrapper clearfix">
        <span class="logo">
          <img src="/images/logo.png" />
        </span>
        <span class="sign-in-button">SIGN IN</span>
      </header>
    </div>

    <div class="main-container">
      <div class="main wrapper clearfix">
        <article>
          <%= yield %>
        </article>

        <% if @article %>
          <aside>
              <p>Other articles:</p>
              <% @articles.each do |article| %>
                <div>
                  <a href="/article/<%= article.id %>"><%= article.title %></a>
                </div>
              <% end %>
          </aside>
        <% end %>

      </div> <!-- #main -->
    </div> <!-- #main-container -->

    <div class="footer-container">
      <footer class="wrapper">
        <img src="https://www.klarna.com/application/files/5214/2739/0062/Klarna_footer.svg" />
        <p>Copyright © 2005-2015 Klarna AB. Headquarters: Stockholm, Sweden. All rights reserved. Klarna AB. Sveavägen 46, 111 34 Stockholm. Organization number: 556737-0431</p>
      </footer>
    </div>

  </body>
</html>
