<form action="/purchase" method="POST" class="klarna-form"
    data-api-key="<%= API_KEY %>"
    data-flow="purchase"
    <%=%{data-user-token="#{@user.token}"} if @user %>
    data-amount="99"
    data-currency="SEK"
    data-locale="en">

    <input type="hidden" name="article_id" value="<%= @article.id %>" />
</form>

<script>
  onKlarnaSuccess = function(paid_content){
    document.getElementById('paid_content').innerHTML = paid_content;
  }
</script>
<script async src="<%= script_url %>/js/klarna_on_demand_publishers.min.js"></script>
