/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html {
  color: #333;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

body {
  font: 16px/26px Open Sans, Arial;
}

.wrapper {
  width: 90%;
  margin: 0 5%;
}

.header-container,
.main aside {
  background: #3c3c3e;
}

.top-header {
  height: 64px;
}

.navigation-container {
  background: #4fe3c1;
}

.navigation-container > div {
  height: 43px;
}

.navigation-container ul {
  padding: 0;
  margin-bottom: 0;
  margin-top: 8px;
  float: left;
}

.navigation-container ul li {
  display: inline-block;
  margin: 0 18px;
}

.navigation-container ul li:first-of-type {
  margin-left: 0;
}

.navigation-container ul li.selected {
  border-bottom: thick solid white;
  padding-bottom: 3px;
}

.navigation-container ul li a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

blockquote {
  font-family: 'Martel', serif;
  color: #555;
  font-size: 1.2em;
  font-weight: 800;
  margin-left: -40px;

}
blockquote:before{
  content: '“ ';
  color: #ddd;
  margin-left: -1em;
  font-size: 2em;

}

.footer-container footer {
  padding: 20px 0;
}

.footer-container footer p{
  font-size: 0.8em;
  color: #999;
  text-align: center;
}

.logo {
  padding: 15px 0;
  float: left;
}

.sign-in-button {
  padding: 2px 20px;
  float: right;
  color: white;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: medium solid #4fe3c1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search-decoy {
  float: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.search-decoy input {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border-style: none;
  background-color: #46cbae;
  width: 260px;
  padding-left: 6px;
  padding-right: 28px;
  color: white;
  font-size: 12px;
  line-height: 23px;
}

.search-decoy:after {
  content: url('/images/search.png');
  position: absolute;
  right: 6px;
  top: 3px;
}

#site_offer {
  max-width: 500px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}
